:root {
	--text: #ececec;
	--bg: #1f2133;
	--bg-l: #393c5e;
}

body {
	min-height: 100vh;
	background: var(--bg);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	position: fixed;
	top: 0;
	background: var(--bg-l);
	color: var(--text);
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 999;
}

.help {
	position: absolute;
	top: 6em;
	right: 2em;
	color: var(--text);
	background: var(--bg-l);
	border: none;
	cursor: pointer;
	padding: 1em 2em;
	font-size: 1.25em;
	border-radius: 0.375em;
	transition: all 300ms ease;
}
.help:hover {
	box-shadow: 1px 1px 1px 0px rgb(245 245 245 / 30%);
	margin-top: -1px;
	margin-right: 1px;
}

#map {
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.country {
	transform: scale(1);
	stroke-width: 1;
	stroke: var(--bg);
	animation-delay: 100ms;
}
.hidden {
	fill: black;
}
.grow {
	animation: pulse 1000ms 2;
}

#bar {
	position: absolute;
	top: 25%;
	left: 3rem;
}
.axis {
	color: var(--text);
}

#table {
	width: 80%;
	margin: 0 10%;
	font-family: sans-serif;
	font-size: 1.25em;
	border-collapse: collapse;
	color: var(--text);
}
#table th {
	padding: 0.5em;
}
#table thead tr {
	background: var(--bg-l);
}
#table td:first-of-type {
	cursor: pointer;
}
#table td {
	padding: 0.5em;
}
#table td.bind-country-name {
	transition: all 300ms ease;
}
#table tr:hover > .bind-country-name {
	color: gold;
}
#table tr:nth-child(2n) {
	background: var(--bg-l);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.35);
	display: none;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: var(--text);
	color: var(--bg);
	transform: translate(-50%, -50%);
	padding: 3em 5em;
	border-radius: 0.5rem;
}
.unhelp {
	position: absolute;
	top: 1em;
	right: 1em;
	border: none;
	cursor: pointer;
	height: 2em;
	width: 2em;
	transition: all 300ms ease;
}
.unhelp:hover {
	background: lightgray;
}
.overlay.open, .modal.open {
	display: block;
}

@keyframes pulse {
	start {
		transform: scale(0.95);
	}
	70% {
		transform: scale(1.5);
	}
	end {
		transform: scale(1);
	}
}