html, body {
	margin: 0;
}
body {
	width: 100vw;
	height: 100vh;
}

.hidden {
	fill: white;
}

#bar {
	position: absolute;
	top: 25%;
	left: 0;
}

#table {
	width: 80%;
	margin: 0 10%;
	font-family: sans-serif;
	font-size: 1.25em;
	border-collapse: collapse;
}
#table th {
	padding: 0.5em;
}
#table thead tr {
	background: #bbb;
}
#table td:first-of-type {
	cursor: pointer;
}
#table td {
	padding: 0.5em;
}
#table tr:nth-child(2n) {
	background: #ddd;
}